body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 32px;
    font-family: sans-serif;
}

.controls {
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    float: right;
    width: 164px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    border: solid black;
    border-right-style: none;
    padding-left: 4px;
    border-radius: 5px;
    margin-bottom: 2px;
    height: 23px;
    overflow-x: scroll;
    margin-top: 2px;
}

.input-row input {
    outline: none;
    border: none;
    padding-left: 4px;
}

.input-row button {
    border: solid black;
    background: black;
    color: white;
    border-radius: 0 4px 4px 0;
}

.input-row button:focus{
    outline: none;
}

.add-wedge {
    background-color: #868686;
}

.name-entry {
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 16px 0;
}

.name-entry button {
    border-radius: 0;
}

.content {
    width: 135px;
    overflow-x: scroll;
    white-space: nowrap;
}

.remove-wedge {
    background-color: #8e8e8e;
}

.control-header {
    border: 4px solid black;
    border-radius: 7px;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    display: block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    float: left;
    border: 3px solid black;
    border-radius: 300px;
}

#buttons button {
    width: 50%;
    border-radius: 0;
    border: thin solid black;
    background-color: black;
    transition: all 300ms;

}

#buttons button:hover {
    transition: all 300ms;
    border-color: white;
}

#wedge-list {
    height: 350px;
    overflow-y: scroll;
    border: 4px solid black;
    border-radius: 8px 8px 0 0;
    padding: 2px;
}

#spin-wheel {
    background-color: #000000;
}

#buttons {
    display: flex;
    padding: 0;
    margin: 0;
}




