body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 32px;
    font-family: sans-serif;
}

main {
    display: flex;
}

.controls {
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.input-row {
    display: flex;
    align-items: center;
    height: 36px;
    margin-bottom: 4px;
}

.input-row :first-child {
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    margin: 0;
    border-radius: 8px 0 0 8px;
    border: thin solid rgba(75, 79, 80, 0.5);
    border-right: none;
    flex-grow: 2;
}

.input-row input:focus {
    outline: none;
}

.input-row button {
    margin: 0;
    height: 100%;
    color: white;
    border-style: none;
    width: 32px;
    font-size: 1.3em;
    line-height: 1.3em;
    border-radius: 0 8px 8px 0;
}

.input-row button:focus{
    outline: none;
    border: none;
}

.add-wedge {
    background-color: #26cb40;
}

.remove-wedge {
    background-color: #cb4d2f;
}

#canvas {
    padding-left: 0;
    padding-right: 0;
    display: block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#buttons button {
    margin: 4px;
    width: 100%;
}

#spin-wheel {

    background-color: #26cb40;
}




